/* ====================================
// css variables
// ==================================== */

:root {
  --Black: #000;
  --Disabled: #ccc;
  --White: #fff;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// .cursor {
//   position: absolute;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   border: 1px solid var(--Black);
//   background-color: #00000000;
//   transition: background-color 0.3s;
//   cursor: none;
//   user-select: none;
//   &.focus-cursor {
//     background-color: var(--Black);
//   }
// }

body {
  height: 100vh;
  width: 100%;
  position: relative;
}

p {
  font-size: 32px;
  font-weight: 300;
  font-family: Helvetica Neue;
  color: var(--Black);
}

.start-screen {
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.duration-screen {
  // opacity: 0;
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .duration-screen-time {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    .duration-screen-time-choice {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--Disabled);
      cursor: pointer;
      span.time {
        text-align: center;
        font-family: Helvetica Neue;
        font-size: 100px;
        font-weight: 400;
        margin-bottom: -10px;
        transition: color 0.2s ease-in-out;
      }
      p.time-label {
        color: inherit;
        transition: color 0.2s ease-in-out;
      }
      &.user-choice,
      &:hover {
        color: var(--Black);
        p.time-label {
          color: inherit;
        }
      }
    }
  }
  .duration-screen-start-button {
    background-color: var(--White);
    border: solid 1px var(--Black);
    display: inline-flex;
    padding: 8px 35px 13px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 32px;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: var(--Black);
      color: var(--White);
    }
  }
}

.countdown-screen {
  // opacity: 0;
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span.countdown {
    opacity: 0;
    font-family: "Helvetica Neue";
    font-size: 200px;
    font-weight: 400;
    position: absolute;
  }
}

.exercise-screen {
  // opacity: 0;
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .focus-ring {
    aspect-ratio: 1/1;
    width: 300px;
    border-radius: 300px;
    border: 5px solid var(--Black);
    display: flex;
    justify-content: center;
    align-items: center;
    span.focus-text {
      font-family: Helvetica Neue;
      font-size: 32px;
      font-weight: 300;
    }
  }
}

.end-screen {
  // opacity: 0;
  // position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: Helvetica Neue;
    font-size: 50px;
    font-weight: 300;
  }
}
